.descr-book .book {
    margin-right: 20px;
    height: 187.2px;
    width: 124.8px;
    min-height: 187.2px;
    min-width: 124.8px;
}

.descr-book-title {
    font-weight: bold;
    color: #8741CA;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
    text-align: left;
}

.descr-book-plot{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
    text-align: left;
    font-size: 10pt;
    margin-top: 5px;
}

.descr-book-author {
    font-weight: bold;
}